{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Automação</title>
{% endblock %}

{% block content %}
<div class="container-xl">
    <section class="conteudo-principal">
    
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Gerenciadora</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          {% for ger in gerenciadoras %}
          <tbody>
            <tr>
              <th>{{ ger.gerenciadora }}</th>
              <th>{{ ger.statusGerenciadora }}</th>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Controladora</th>
              <th>Quadro Elétrico</th>
              <th>Status</th>
              <th>Opções</th>
            </tr>
          </thead>
          {% for control in controladoras %}
          <tbody>
            <tr>
              <th>
                <i class="fas fa-bolt">
                <a href="/automacao-view/?id={{ control.id }}">{{ control.quadroSap }}</a>
                </i>
              </th>
              <th>{{ control.quadroEletrico }}</th>
              <th>{{ control.statusSap }}</th>
              <th>
                  <a href="/automacao-update/{{ control.id }}" class="btn">Editar</a>
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </section>
</div>
{% endblock %}