{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Automação</title>
{% endblock %}

{% block content %}
<div class="container-xl">
    <section class="conteudo-principal">
      <h3>Sistema de Automação</h3>
      <div class="card">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Gerenciadora</th>
              <th scope="col">Status</th>

            </tr>
          </thead>
          {% for ger in gerenciadoras %}
          <tbody>
            <tr>
              <th scope="row">{{ ger.id }}</th>
              <th>{{ ger.gerenciadora }}</th>
              <th>{{ ger.statusGerenciadora }}</th>

            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>

 

      

</section>
</div>
{% endblock %}