{% extends 'base.html' %}

{% block title %}
    <title>SCIRP </title>
{% endblock %}

{% block content %}
<div class="container-xl">
    <section class="conteudo-principal">

      <div class="card">
        <div class="card-header">
          <h5>Sistema de Automação</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Gerenciadoras</h5>
                  <!-- ********************************************************************************************** -->
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
              <!-- ********************************************************************************************** -->
              <div>
                <canvas id="quantidadeGerenciadoras" width="700" height="250"></canvas>
                  <script>
                    var ctxy = document.getElementById('quantidadeGerenciadoras').getContext('2d');
                    var myDoughnutChart = new Chart(ctxy, {
                    // The type of chart we want to create
                    type: 'pie',

                      // The data for our dataset
                        data: {
                          labels: ['On', 'Off'],
                          datasets: [{
                            label: 'Gerenciadoras',
                            backgroundColor: '',
                            borderColor: 'white',
                            data: [{{ qnt_online }},{{ qnt_offline }}],

                            backgroundColor: [
                            'rgba(46, 204, 113)',
                            'rgba(231, 76, 60)',
                            ],
                          }]
                        },
                        // Configuration options go here
                        options: {}
                      });
                  </script>
                </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Controladoras</h5>
                  <div>
                    <canvas id="quantidadeControladoras" width="700" height="250"></canvas>
                      <script>
                        var ctxy = document.getElementById('quantidadeControladoras').getContext('2d');
                        var myDoughnutChart = new Chart(ctxy, {
                        // The type of chart we want to create
                        type: 'pie',
  
                          // The data for our dataset
                            data: {
                              labels: ['On', 'Off'],
                              datasets: [{
                                label: 'Gerenciadoras',
                                backgroundColor: '',
                                borderColor: 'white',
                                data: [{{ qnt_quadros_on }},{{ qnt_quadros_off }}],
  
                                backgroundColor: [
                                'rgba(46, 204, 113)',
                                'rgba(231, 76, 60)',
                                ],
                              }]
                            },
                            // Configuration options go here
                            options: {}
                          });
                      </script>
                    </div>
  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>














    
</div>

{% endblock %}


