{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}
    <title>Autenticação </title>
{% endblock %}

{% block content %}
<div class="container-xl">

    <section class="conteudo-principal">
        <div align="center">
        <div class="card" style="width: 36rem;" align="center">
            <h3>Autenticação</h3>
          <div class="card-body">
            <form action="" method="POST">{% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary mt-10">Entrar</button>
            </form>
          </div>
        </div>
        </div>
    </section>
</div>
{% endblock %}
