{% load static %}
<section class="fundo">
  <div class="container-xl">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active btn-menu-superior" href="/">
          <i class="fab fa-gripfire"></i>
          <strong>Página Incial</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active btn-menu-superior" href="/automacao/">
          <i class="fas fa-lightbulb"></i>
          <strong>Automação</strong>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-menu-superior" href="/cftv-shopping/" >
        <i class="fas fa-video"></i>
           <strong>CFTV</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-menu-superior" href="/sdai-shopping/">
          <i class="fas fa-file-audio"></i>

          <strong>SDAI - Shopping</strong>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-menu-superior" href="/sdai-torre-empresarial/">
          <i class="far fa-file-audio"></i>
          <strong>SDAI - Torre Empresarial</strong>

        </a>
      </li>

    </ul>
</div>
</section>