{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Circuito Fechado de Televisão </title>
{% endblock %}

{% block content %}
<div class="container-xl">
    <section class="conteudo-principal">
        <div class="card">
          <h3>Circuito Fechado de TV</h3>
          <div align='right'>
            <a href="/cftv-shopping-create/" class="btn btn-success">Adicionar Câmera</a>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Número</th>
                  <th scope="col">Câmera</th>
                  <th>Opções</th>
                </tr>
              </thead>
              {% for cam in camera %}
              <tbody>
                <tr>
                  <th scope="row">{{ cam.numeroCamera }}</th>
                  <th>{{ cam.nomeCamera }}</th>
                  <th>
                    <a href="/cftv-shopping-update/{{ cam.id }}" class="btn">Editar</a>
                  </th>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
</div>
{% endblock %}


